.goToTop {
   position: fixed;
   bottom: 20px;
   right: 20px;
   opacity: 0.4;
}

.goToTop button {
   height: 40px;
   width: 40px;
}
.goToTop:hover {
   height: 40px;
   width: 40px;
   opacity: 1;
}
.error-message {
   font-size: 2rem;
   z-index: 100;
   color: red;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
}
